.git
.gitignore
.github
.vscode
.DS_Store
*.log
node_modules
npm-debug.log
coverage
.next
.gradle
build
.flutter
.dart_tool
.packages
pubspec.lock
*.iml
local.properties
*.jks
*.keystore
.env
.env.local
.env.*.local
terraform/.terraform
terraform/*.tfstate*
terraform/*.tfvars
*.swp
*.swo
*~
.idea
README.md
docs
